*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ddd;
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color:#FFF;
    align-content: center;

}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
	-webkit-appearance:none;
}
#editfrm{
    margin-top: 20px;
    width: 400px;
    height: 350px;
    margin-left: 50px;
    border-radius: 20px;
    border: 2px solid goldenrod;
    background-color: skyblue;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 2px;
    margin: 10px;
    gap: 20px;
    text-align: center;
    
}
form button{
    width: 25%;
    height: 30px;
    align-self: center;
    font-size: 17px;
}
form input{
    height: 30px;
    padding-inline-start: 10px;
    font-size: 16px;
    color: black;
    border: 1px solid;
}
#editform .btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}
table{
    margin-top: 30px;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid black;
    justify-self: center;

}
tbody{
    text-align: center;
    font-size: 17px;
    border-collapse: collapse;

}
tbody tr{
    height: 35px;
}
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}
tbody tr:nth-child(add){
    background-color: #ffffFF;
}
table thead {
    background-color: rgb(59, 122, 131);
    border:none;
    font-size: 20px;
    color: #f2f2f2;
    height: 35px;
}

tbody button{
    width: 100px;
    height: 28px;
    color: black;
    border: 1px solid black;
    border-radius: 4px; ;
    font-size: 15px;
}
tbody button i{

    padding-right:7px ;

}
tbody .del i {
    color: rgb(250, 11, 11);
    font-size: 18px;
    font-weight: lighter;
}
tbody  i{
    color: rgb(28, 28, 245);
    font-size: 18px;
    font-weight: lighter;
}
.home{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
.home a{
    text-align: center;
    color:darkviolet;
    text-decoration: none;
    font-size: 22px;
    font-weight: 900;

}
