*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.navbar{
  width: 100%;
  background-color: #ddd;

}
.navbar a{
  display: flex;
  align-items: center;
  font-size: 20px;

}
.navbar img{
  width: 100px;
  height: 100px;

}
.navbar.custom-nav {
  background-color: #004080; 
  padding: 0.5rem 1rem;
}
.navbar-nav a{
  color: black;
}
.navbar.custom-nav .nav-link {
  color:black;
  margin: 0 0.5rem;
  font-weight: 900;
}
.navbar.custom-nav .nav-link:hover,
.navbar.custom-nav .nav-link:focus {
  color: #ffc107; 
}


.navbar.custom-nav .nav-item.active .nav-link {
  color: black;
  border-bottom: 2px solid #ffc107;
}

.navbar-brand img {
  width: 100x;
  height: 80px;
  object-fit: contain;
  margin-right: 0.5rem;
}


#signout {
  border: 1px solid #f8f9fa;
  color: black;
  font-size: 20px;
  padding: 0.25rem 0.75rem;
  background: transparent;
  border-radius: 0.25rem;
}
#signout:hover {
  background-color: black;
  color: #f8f9fa;

}
#Home{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
}
.sliders{
  margin-top: 80px;
  background-color: gray;
  width: 90%;
  justify-content: center;
  height: 85%;
  border-radius: 10px;
  overflow: hidden;
}
.slides{
  width: 500%;
  display: flex;
  height: 90%;

}
.slides input{
  display: none;
}
.slide{
  width:20%;
  transition: 2s;
}
.slide img{
  height: 500px;
  width: 100%;

} 
.navigation-manual{
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 450px;

}
.manual-btn{
  border: 2px solid skyblue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right:40px;
}
.manual-btn:hover{
  background: skyblue;
}
#radio1:checked~.first{
  margin-left:0;
}
#radio2:checked~.first{
  margin-left: -20%;
}
#radio3:checked~.first{
  margin-left: -40%;
}
#radio4:checked~.first{
  margin-left: -60%;
}
.navigation-auto{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 450px;
}
.navigation-auto div{
  border: 2px solid skyblue;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}
#radio1:checked~.navigation-auto .auto-btn1{
  background: skyblue;
}
#radio2:checked~.navigation-auto .auto-btn2{
  background: skyblue;
}
#radio3:checked~.navigation-auto .auto-btn3{
  background: skyblue;
}
#radio4:checked~.navigation-auto .auto-btn4{
  background: skyblue;
}

#Admission{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;

}
.container{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.container h2{
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  margin: 5px 20px 40px 50px;
}
form input{
  width: 80%;
  margin:10px;
  height: 35px;
  background-color: #ddd;
  border: none;
  padding-inline-start: 10px;
  font-size: 17px;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
	-webkit-appearance:none;
}
.row{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
form button{
  width: 40%;
  height: 30px;
  margin-top: 20px;
  border-radius: 8px;
  align-self: center;
  font-size: 17px;
  cursor: pointer;
  margin-right: 150px;
}
#Alumni.left{
  width: 100%;
  background-color:#fff;
  height: 100%;
  display: flex;
  
}
.left-one{
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 100%;
  padding-bottom: 100px;

}
.left-one .one{
  margin-top: 20px;
  background-color:#800020;
  width: 200px;
  border-radius: 50%;
  height: 200px;
}
.left-one .one p{
  color: #fff;
}

.left-one .one h4{
  color: #ffc107;
  margin-top: 30px;
}
.left-two{
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 100%;

}
.left-two .one{
  margin-top: 20px;
  background-color: #800020;;
  width: 200px;
  border-radius: 50%;
  height: 200px;
}
.left-two .one p{
  color: #fff;
}

.left-two .one h4{
  margin-top: 30px;
  color: #ffc107;
}
span{
  color: red;
}
#Academic{
  width: 100%;
  background-color: #fff;
  height: 100%;
}
#Academic .boxes{
  width: 100%;
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  height: auto;
}
#Academic img{
  width: 200px;
  height: 200px;
}
#Academic .box-1{
  margin-top: 30px;
  align-content: center;
  height: 270px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;
}
#Academic h1{
  text-align: center;
  padding-top: 30px;
}
#Academic .box-2{
  height: 270px;
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
  align-content: center;
  margin-bottom: 30px;

}
#Events{
  margin-top: 20px;
  padding-bottom: 50px;
}
.btn-groups { 
  margin-bottom: 15px;
  margin-left: 50px;
 }
.btn {
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  background: #eee;
  cursor: pointer;  
  border-radius: 4px;
}
.btn.active { background: #0ba1a4; color: #fff; }

.carousel-wrapper {
  position: relative;
  width: 80%;
  height: 260px;
  background-color: #fff;
  justify-content: center;
  border: 2px solid #ddd;
  justify-self: center;
  display: none;
}
.carousel-wrapper.active { display: flex; align-items: center; }

.carousel-inner {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  scroll-behavior: smooth;
}
.carousel-inner::-webkit-scrollbar { display: none; }

.card {
  flex: 0 0 auto;
  width: 240px;
  background: #fff;
  height: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.card img { width: 90%; border-radius: 10px; }

.carousel-control-prev,
.carousel-control-next {
  height: 10%;
  width: 10%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

}
.carousel-wrapper button{
  width: 5%;
  height: 5%;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 130px;
  
}
.carousel-control-prev::before,
.carousel-control-next::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 5px solid rgb(21, 178, 213);
  border-right: 5px solid rgb(11, 184, 252);
}
.carousel-control-prev{
  margin-left: -20px;

}
.carousel-control-next{
  margin-right: -20px;
}
.carousel-control-prev::before { transform: rotate(-135deg); }
.carousel-control-next::before { transform: rotate(45deg); }

.carousel-control-prev.disabled,
.carousel-control-next.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.card img{
  width: 200px;
  height: 200px;
}

#Academic .box-3{
  margin-top: 30px;
  align-content: center;
  width: 250px;
  height: 270px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;
    
}
#Academic .box-4{
  margin-top: 30px;
  align-content: center;
  text-align: center;
  width: 250px;
  height: 270px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 30px;
}
#ForStaff{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #ffff;
}
#ForStaff .details{
  width: 100%;
  padding-left: 170px;
  margin-top: 30px;
}
#ForStaff hr{
  width: 80%;
  border-top: 1px dotted red;
  height: 2px;
  margin-left: 180px;
}
#ForStaff .staff{
  display: flex;
  width: 100%;
  margin-right: 10px;
  background-color:#fff;
}
#ForStaff .staff .round{
  width: 90%;
  background-color: #fff;
  text-align: center;
}
#ForStaff .staff .round img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#ForStaff .staff .info{
  margin-left: -55px;
  margin-right: 20px;
}
#ForStaff .staff .info p{
  text-align: initial;


}
#ForStaff .staff .info h4{
  text-align: left;
}
#foot{
  padding-top: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(135deg, #434343 10%, #000000 100%);
  color: #fff;
}
.contact{
  font-size: 17px;

}
.links i{
  color: orange;
  padding-right: 5px;
  font-size: 20px;
  font-weight: lighter;
}
.contact i{
  color:orange;
  padding-right: 5px;
  font-weight:700;
  font-size: 19px;
}
.contact .abc-1 i{
  color:orange;
  font-size: 25px;
  font-weight: lighter;
  justify-content: space-between;
  padding: 20px;
}

@media (max-width: 992px) {
  .navbar.custom-nav .navbar-brand {
    flex-grow: 1;
  }
  #signout {
    margin-top: 0.5rem;
  }
  .boxes{
    flex-direction: column;
    align-items: center;
  }
  #Admission{
    flex-direction: column;
  }
  .container{
    margin: 0;
    
  }
  #Academic h1{
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
  }
  #ForStaff .staff{
    flex-direction: column;
  }
  #ForStaff .staff .info{
    text-align: center;
    margin: 0;
  }
  #ForStaff hr{
    margin: 0;
    align-self: center;
  }
  #ForStaff .staff .info{
    margin: 0;
  }
  .left-one{
    flex-direction: column;
  }
  #ForStaff .staff .info p{
    text-align: left;
    margin: 10px;
  }
  #foot{
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  .carousel-wrapper{
    margin: 0;
  }
#ForStaff .details{
  padding: 0;
  text-align: center;
}
}
